<aside class="site-side">
  <p class="section">
    Steps
  </p>

  <div class="exercise-steps">
    {{#each model.steps key="@index" as |step index|}}
      {{#exercise-steps}}
        {{#step-number}}{{add-one index}}{{/step-number}}
        {{#step-title}}{{step.title}}{{/step-title}}
        {{#step-description}}
          {{{step.description}}}
        {{/step-description}}
      {{/exercise-steps}}
    {{/each}}
  </div>
</aside>

<main class="site-main">
  <div class="browser-bar">
    <div class="browser-dot"></div>
    <div class="browser-dot"></div>
    <div class="browser-dot"></div>
  </div>

  {{exercise-result url='/result/deploy'}}
</main>
{{outlet}}
