<aside class="site-side">
  {{nav-exercises type='html-css'}}

  <p class="section">
    Steps
  </p>

  <div class="exercise-steps">
    {{#exercise-steps}}
      {{#step-number}}1{{/step-number}}
      {{#step-title}} Η δομή της σελίδας {{/step-title}}
      {{#step-description}}
        Δημιουργήστε τη δομή της HTML σελίδας
      {{/step-description}}
    {{/exercise-steps}}

    {{#exercise-steps}}
      {{#step-number}}2{{/step-number}}
      {{#step-title}}Το element 'title'{{/step-title}}
      {{#step-description}}
        Προσθέστε το element 'title' στο head κομμάτι της σελίδας
      {{/step-description}}
    {{/exercise-steps}}

    {{#exercise-steps}}
      {{#step-number}}3{{/step-number}}
      {{#step-title}}Επικεφαλίδα{{/step-title}}
      {{#step-description}}
        Προσθέστε το element 'h2' στο body κομμάτι της σελίδας
      {{/step-description}}
    {{/exercise-steps}}

    {{#exercise-steps}}
      {{#step-number}}4{{/step-number}}
      {{#step-title}}Θέλουμε παράγραφο!{{/step-title}}
      {{#step-description}}
        Προσθέστε το element 'p' στο body κομμάτι της σελίδας
      {{/step-description}}
    {{/exercise-steps}}

    {{#exercise-steps}}
      {{#step-number}}5{{/step-number}}
      {{#step-title}}Ας βάλουμε μια εικόνα!{{/step-title}}
      {{#step-description}}
        Προσθέστε το element 'img', συνδέοντας το με ένα λινκ σε μια εικόνα μέσα στο attribute 'src'.
      {{/step-description}}
    {{/exercise-steps}}

  </div>
</aside>

<main class="site-main">
  <div class="browser-bar">
    <div class="browser-dot"></div>
    <div class="browser-dot"></div>
    <div class="browser-dot"></div>

    {{nav-tabs action='selectTab' tab=model.tab css=false js=false}}
  </div>
  {{#if (eq model.tab 'result')}}
    {{exercise-result url='/result/html-css/1'}}
  {{else if (eq model.tab 'html')}}
    {{code-snippet name="html-css-exercise-1-html.hbs"}}
  {{/if}}
</main>
{{outlet}}
