<aside class="site-side">
  {{nav-exercises type='html-css'}}

  <p class="section">
    Steps
  </p>

  <div class="exercise-steps">
    {{#each model.steps key="@index" as |step index|}}
      {{#exercise-steps}}
        {{#step-number}}{{add-one index}}{{/step-number}}
        {{#step-title}}{{step.title}}{{/step-title}}
        {{#step-description}}
          {{step.description}}
        {{/step-description}}
        {{#step-information}}
          {{step.information}}
        {{/step-information}}
      {{/exercise-steps}}
    {{/each}}
  </div>
</aside>

<main class="site-main">
  <div class="browser-bar">
    <div class="browser-dot"></div>
    <div class="browser-dot"></div>
    <div class="browser-dot"></div>

    {{nav-tabs action='selectTab' tab=model.tab css=false js=false}}
  </div>
  {{#if (eq model.tab 'result')}}
    {{exercise-result url='/result/html-css/3'}}
  {{else if (eq model.tab 'html')}}
    {{code-snippet name="html-css-exercise-3-html.hbs"}}
  {{else if (eq model.tab 'css')}}

  {{else if (eq model.tab 'js')}}

  {{/if}}
</main>
{{outlet}}
